{% extends 'index_master.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
          <h1>Modificar Curso</h1>

          <form action="" method="POST">
            {% csrf_token %}


            <div class="form-group row">
              <label class="col-4 col-form-label" for="nombre">ID Curso</label> 
              <div class="col-8">
                
                <select id="id" name="id" class="form-control">
                {% for u in cursos %}   
                  <option value="{{u.id}}" {% if u.id == cursoss.id %} selected {% endif %}>{{u.id}}</option>
                {% endfor %}
                </select>
                

              </div>
            </div>
            
            
            <div class="form-group row">
              <label class="col-4 col-form-label" for="nombre">Nombre</label> 
              <div class="col-8">
                <input id="nombre" name="nombre" placeholder="Nombre del Curso " type="text" class="form-control" value="{{cursoss.nombrecurso}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="codigo" class="col-4 col-form-label">Codigo</label> 
              <div class="col-8">
                <input id="codigo" name="codigo" placeholder="Codigo Curso " type="text" class="form-control" value="{{cursoss.codigocurso}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="credito" class="col-4 col-form-label">Tipo credito</label> 
              <div class="col-8">
                <input id="credito" name="credito" placeholder="Ejemplo credito" type="text" class="form-control" value="{{cursoss.creditos}}">
              </div>
            </div>
            
            <div class="form-group row">
              <div class="offset-4 col-8">
                <button name="back" class="btn btn-primary" onclick="history.back(); return false;">Volver</button>
                <button name="submit" type="submit" class="btn btn-warning">Actualizar Curso</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /page content -->
{% endblock %}