{% extends 'index_master.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
          <h1>Listar Ficha Curso-Este sitio esta en construccion</h1>
          
          <table class="table table-light border-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Curso</th>
                <th scope="col">Temario</th>
               
                
              </tr>
            </thead>
            <tbody>
            
              <tr>
                
                <th scope="row">1</th>
                <td>Ciencia de Datos</td>
                <td>Introduccion a CRISP-DM - Comprension del Negocio - Comprension de Los datos </td>
                
                
                <td>
                  <button class="btn btn-warning" onclick="window.location.href=''" ><i class="fa fa-refresh"></i></button>
                  <button class="btn btn-danger" onclick="window.location.href=''" ><i class="fa fa-trash"></i></button>
                </td>
                
              </tr>

              <tr>
                
                <th scope="row">2</th>
                <td>Linea de Produndizacion 3</td>
                <td>Introduccion - Vulnerabilidades - Como tener tu sitio seguro - etc </td>
                
                
                <td>
                  <button class="btn btn-warning" onclick="window.location.href=''" ><i class="fa fa-refresh"></i></button>
                  <button class="btn btn-danger" onclick="window.location.href=''" ><i class="fa fa-trash"></i></button>
                </td>
                
              </tr>
            
            </tbody>
          
          </table>
            
        </div>
        <!-- /page content -->
{% endblock %}