{% extends 'base.html' %}

{% block content %}
<h2>Recuperación de contraseña</h2>
<p>Ingrese su dirección de correo electrónico para recibir un enlace para restablecer su contraseña.</p>
<form method="post">
    {% csrf_token %}
    {{ password_reset_form.as_p }}
    <button type="submit" class="btn btn-success">Enviar correo electrónico de recuperación de contraseña</button>
    <button name="back" class="btn btn-primary" onclick="history.back(); return false;">Volver</button>
</form>
{% endblock %}
